@section scripts {
    @Scripts.Render("~/bundles/app")
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>BookService</h1>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h2>Books</h2>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group" data-bind="foreach: books">
                        <li class="list-group-item">
                            <strong><span data-bind="text: AuthorName"></span></strong><i>: <span data-bind="text: Title" /></i>
                            <a href="#" data-bind="click: $parent.getDetail">Details</a>
                            <div data-bind="visible: $parent.detail && $parent.detail.Id == Id">Ecco i dettagli</div>
                        </li>
                    </ul>
                </div>     
            </div>           
        </div>
        
</div>
